.container {
    width: 1500px;
    height: 1000px;
    display: grid;
    grid-template-rows: 100px 1fr 300px;
    padding: 0;
    margin: 0;
    gap: 0;
}

.header {
    display: grid;
    align-content: center;
    justify-content: center;
}

.logo {
    width: 144px;
    height: 103px;
    margin: 20px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.textn {
    height: 17px;
}

.button {
    color: #29ABE2;
    background-color: white;
    border-radius: 10px;
    border: 1cap;
    border-color: #29ABE2;
    border-radius: 10%;
}

.main {
    background-image: url(../images/Фон.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.text1 {
    display: grid;
    width: 622px;
    height: 231px;
    grid-row: 2/3;
    grid-column: 2/3;
    align-items: end;
    font-size: 60px;
    font-weight: 500;
}

.text2 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.matrac {
    display: grid;
    grid-row: 3/4;
    grid-column: 2/3;
    align-items: end;
    padding: 10px;
    color: white;
    background-color: #29ABE2;
    border: 0cap;
    border-radius: 20px;
}

.scroll {
    display: grid;
    width: 108px;
    height: 34px;
    grid-row: 4/5;
    grid-column: 2/3;
    align-items: center;
    background-color: white;
    border: 0cap;
}

.footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 200px 1fr;
    background-color: #29ABE2;
}

.textf1 {
    width: 364px;
    height: 54px;
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 40px 5px 0 0;
    color: white;
    font-size: 35px;
    font-weight: 400;
}

p {
    width: 481px;
    height: 63px;
    color: white;
    font-size: 15px;
    padding: 0;
}

.bullet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row: 2/3;
    grid-column: 1/3;
}

.bullet1 {
    grid-column: 2/3;
}

.bullet2 {
    grid-column: 3/4;
}

.bullet3 {
    grid-column: 4/5;
}

.bullet4 {
    grid-column: 5/6;
}