.container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    padding: 0;
    margin: 0;
    gap: 0;
}

.header {
    display: grid;
    align-content: center;
    justify-content: center;
    width: 100vw;
}

.logo {
    width: 100%;
    height: 100%;
    margin: 20px;
}

.nav {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    align-items: center;
    align-self: center;
    text-align: center;
    width: 80vw;
}

.textn {
    height: 10%;
}

.button {
    color: #29ABE2;
    background-color: white;
    border-radius: 10px;
    border: 1cap;
    border-color: #29ABE2;
    border-radius: 10%;
}

.main {
    background-image: url(../img/Фон.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 80vh;
    width: 100vw;
    align-items: center;
}

.text1 {
    display: grid;
    width: 40%;
    height: 100%;
    grid-row: 2/3;
    grid-column: 2/3;
    align-items: end;
    font-size: 4em;
    font-weight: 500;
    align-self: baseline;
}

.text2 {
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 2em;
}

.matrac {
    display: grid;
    grid-row: 3/4;
    grid-column: 2/3;
    align-items: end;
    padding: 10px;
    margin-top: 5%;
    color: white;
    background-color: #29ABE2;
    border: 0cap;
    border-radius: 20px;
}

.scroll {
    display: grid;
    grid-row: 4/5;
    grid-column: 2/3;
    align-items: center;
    background-color: white;
    border: 0cap;
}

.section {
    display: grid;
    height: 43vh;
    width: 100vw;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 200px 1fr;
    background-color: #29ABE2;
}

.textf1 {
    width: 80%;
    height: 54px;
    grid-row: 1/2;
    grid-column: 2/3;
    padding: 2% 0 0 0;
    color: white;
    font-size: 3em;
    font-weight: 400;
}

.textf1 p {
    width: 90%;
    height: 30%;
    color: white;
    font-size: 22px;
    padding: 0 0 3% 0;
}

.bullet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row: 2/3;
    grid-column: 1/3;
}

.bullet1 {
    grid-column: 2/3;
}

.bullet2 {
    grid-column: 3/4;
}

.bullet3 {
    grid-column: 4/5;
}

.bullet4 {
    grid-column: 5/6;
}

.aside {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #eceaead7;
    align-items:center;
}

.advantages {
    justify-self: center;
    align-content: space-around;
    font-size: 26px;
}

.adv {
    color: rgb(0, 0, 0);
}

.button2 {
    border: #29ABE2;
    background-color: #29ABE2;
    color: #ffffff;
    border-radius: 25px;
    padding: 3%;
    width: 50%;
}

.divan {
    background-image: url(../img/Ellipse\ 4.svg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: end;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2fr 1fr;
    background-color: #0F4861;
    color: #dcdcdcdf;
}

.button3 {
    border: 0cap;
    color:#ffffff;
    background-color: #0F4861;
}

@media screen and (max-width: 432px) {
    .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100vw;
    }
    
    .header {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-content: center;
        justify-content: center;
        height: 30vh;
    }
    
    .logo {
        display: none;
    }
    
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-self: center;
        text-align: center;
        margin: 1%;
    }
    
    .textn {
        height: 4;
    }
    
    .button {
        color: #29ABE2;
        background-color: white;
        border-radius: 10px;
        border: 1cap;
        border-color: #29ABE2;
        border-radius: 10%;
    }
    
    .main {
        background-image: none;
        display: flex;
        flex-direction: column;
        width: 99%;
        align-items: center;
        flex-grow: 1;
        height: 30vh;
    }
    .main img {
        display: none;
    }
    .text1 {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 30%;
        align-items: center;
        justify-items: center;
        font-size: 24px;
        font-weight: 500;
        margin: 1%;
        color: #29ABE2;
    }
    
    .text2 {
        font-size: 1em;
        margin: 3%;
    }

    .scroll {
        display: none;
    }
    
    .matrac {
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 1%;
        margin-top: 2%;
        color: white;
        background-color: #29ABE2;
        border: 0cap;
        border-radius: 20px;
    }
    
    .section {
        display: flex;
        flex-direction: column;
        background-color: #29ABE2;
        flex-grow: 1;
        height: auto;
    }
    
    .textf1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 5px 0 10px;
        color: white;
        font-size: 20px;
        font-weight: 200;
    }
    
    .textf1 p {
        width: 90%;
        height: 2%;
        color: white;
        font-size: 14px;
        padding: 10px;
    }
    
    .bullet {
        display: flex;
        flex-direction: column;
        margin: 27% 0 3% 0;
        padding: 2px;
        height: auto;
        align-items: center;
    }
    
    .aside {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        background-color: #eceaead7;
    }
    
    .advantages {
        justify-self: center;
        padding: 5px;
    }
    
    .adv {
        color: rgb(0, 0, 0);
        width: 99%;
        height: auto;
        font-size: 12px;
    }
    
    .button2 {
        border: #29ABE2;
        background-color: #29ABE2;
        color: #ffffff;
        border-radius: 25px;
        padding: 3%;
        width: 50%;
    }
    
    .divan {
        display: none;
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        width: 99%;
        background-color: #0F4861;
        color: #dcdcdcdf;
        flex-grow: 1;
    }

    footer img  {
        display: none;
    }
    
    .f1 {
        display: flex;
        flex-direction: column;
        padding: 2%;
        font-size: 10px;
    }
    .f2 {
        display: flex;
        flex-direction: column;
        padding: 2%;
        font-size: 10px;
    }
    .f3 {
        display: flex;
        flex-direction: column;
        padding: 2%;
        font-size: 10px;
    }
    .button3 {
        display: flex;
        flex-direction: column;
        padding: 2%;
        font-size: 10px;
    }
}

@media screen and (min-width:500px) and (max-width: 1030px) { 

    .logo {
        display: none;
    }

    .header {
        width: 100vw;
        height: 10vh;
    }

    .nav {
        width: 100vw;
        grid-template-columns: repeat(9, 1fr);
        justify-content: center;
    }

    .button {
        display: none;
    }
    
    .textn {
        height: 5%;
    }
    
    .main {
        background-position: 60%;
        grid-template-columns: 10% 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 60vh;
        width: 100vw;
    }
    
    .text1 {
        display: grid;
        width: 100%;
        height: 90%;
        align-items: center;
        font-size: 2em;
        font-weight: 300;
    }
    
    .text2 {
        font-size: 1em;
    }
    
    .matrac {
        padding: 5%;
        margin-top: 5%;
    }
    
    .section {
        height: 37vh;
        grid-template-columns: 10% 1fr;
    }
    
    .textf1 {
        width: 80%;
        height: 20%;
        grid-row: 1/2;
        grid-column: 2/3;
        padding: 2% 0 0 0;
        color: white;
        font-size: 3em;
        font-weight: 400;
    }
    
    .textf1 p {
        width: 90%;
        height: 60%;
        color: white;
        font-size: 45%;
    }
    
    .bullet {
        display: grid;
        height: 15vh;
        grid-template-columns: repeat(4, 1fr);
        grid-row: 2/3;
    }
    
    .bullet1 {
        grid-column: 1/2;
    }
    
    .bullet2 {
        grid-column: 2/3;
    
    }
    
    .bullet3 {
        grid-column: 3/4;
    }
    
    .bullet4 {
        grid-column: 4/5;
    }

    .bullet img {
        width: 70%;
        height: 70%;
    }
    
    .aside {
        width: 100vw;
        height: 60vh;
    }
    
    .advantages {
        width: 90vw;
        padding-left: 10%;
        justify-self: center;
        align-content: space-around;
        font-size: 26px;
    }
    
    .divan {
        display: none;
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        width: 99%;
        background-color: #0F4861;
        color: #dcdcdcdf;
        flex-grow: 1;
    }

    footer img  {
        width: 15vw;
        margin: 5px;
    }
    
    .f1 {
        display: flex;
        flex-direction: column;
        padding: 2%;
        font-size: 10px;
    }
    .f2 {
        display: flex;
        flex-direction: column;
        padding: 2%;
        font-size: 10px;
    }
    .f3 {
        display: flex;
        flex-direction: column;
        padding: 2%;
        font-size: 10px;
    }
    .button3 {
        display: flex;
        flex-direction: column;
        padding: 2%;
        font-size: 10px;
    }
}